.canvas {
    background-color: grey;
    width: 600px;
    height: 600px;
    top: 250px;
    margin-left: 300px;
    left: 400px;
    position: relative;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

button {
    width: 200px;
    top: 50%;
    left: 50%;
}

.sidepanel {
    background-color: rgb(214, 214, 214);
    width: 200px;
    height: 400px;
    bottom: 300px;
    margin-right: 100px;
    left: 200px;
    position: relative;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.circle {
    background-color: purple;
    position: absolute;
    border-radius: 50%;
}

.triangle {
   
	border-top: 100px solid yellow;
    border-right: 100px solid transparent;
    position: absolute;
    
}

.rectangle {
    background-color: green;
    position: absolute;
}

.square {
    background-color: red;
    position: absolute;
}

span {
    font-weight: bold;
}